# Cross-system hidden files
.DS_Store           
Thumbs.db           
desktop.ini         
*.swp               
*~                  

# Configuration files for mainstream editors/IDEs (personal development habits, not shared)
*.sln                   
*.csproj                
*.unityproj             
.vs/                    
.vscode/                
.idea/                  
*/.idea/                
*/.vs/                  
*/.vscode/              
*.suo                   
*.user                  
*.userprefs             
*.pidb                  
*.pdb                   
*.log                   
*.cache                 

# Global compilation/packaging artifacts (temporarily generated, not shared)
/Build/
/dist/  
/output/

# ===================== client =====================
/HotUpdateProject/*.sln
/HotUpdateProject/*.csproj
/HotUpdateProject/Library/      
/HotUpdateProject/Temp/         
/HotUpdateProject/obj/          
/HotUpdateProject/Builds/    
/HotUpdateProject/Logs/
/HotUpdateProject/UserSettings/
/HotUpdateProject/HybridCLRData/
/HotUpdateProject/Bundles/

# ===================== server =====================
/HotUpdateLocalServer/Addressable/Res/
